/* 
 TODOS vseguin
 * Add favicon
*/

@font-face {
    font-family: "Suisse Mono";
    src: url("fonts/SuisseIntlMono-Regular.otf");
  }
  
  @font-face {
    font-family: "Buenos Aires";
    src: url("fonts/BuenosAires-Bold.otf");
  }

html, 
body {
    height: 100%;
}

body {
    transition: background-color 1s ease-in-out;
}

#switcher {
    position: absolute;
    cursor: pointer;
    left: 4rem;
    top: 5rem;
}

@media (max-width: 800px) {
    #switcher {
        display: none;
    }    
}

#main {
    display: flex;
    justify-content: center;
    font-family: "Suisse Mono";
    height: 100%;
}

#content {
    align-self: center;
    max-width: 255px;
}

#content img {
    margin-bottom: 102px;
}

.block {
    margin-bottom: 17px;
}

h4 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 8px;
    font-family: "Buenos Aires";
}

p {
    font-size: 17px;
    line-height: 25px;
}

a {
    text-decoration: none;
}

#order a:after {
    content: "";
    display: block;
    width: 0%;
    padding-top: 19px;
    border-bottom: 4px solid;
    transition: .5s;
}

#order a:hover:after {
    width: 96%;
}

.day #order a:after {
    border-bottom-color: #18332F;
}

.night #order a:after {
    border-bottom-color: #EAE5E4;
}

#order {
    margin-top: 46px;
    font-size: 29px;
    font-weight: bold;
    font-family: "Buenos Aires";
}

.day {
    background-color: #EAE5E4;
}

.night {
    background-color: #152725;
}

.day,
.day a {
    color: #18332F;
}

.night,
.night a {
    color: #EAE5E4;
}