@font-face {
    font-family: "Suisse Mono";
    src: url("fonts/SuisseIntlMono-Regular.otf");
  }
  
  @font-face {
    font-family: "Buenos Aires";
    src: url("fonts/BuenosAires-Bold.otf");
  }

html, 
body {
    height: 100%;
}

body {
    transition: background-color 1s ease-in-out;
}

.circle {
    background-color: #A6BDB0;
    position: absolute;
    height: 198px;
    width: 396px;
}

.night .circle {
    background-color: #552736;
}

.section {
    display: flex;
    position: relative;
    width: 100%;
    align-items: center;
    justify-content: center;
}

h1 {
    color: #152725;
    font-family: "Buenos Aires";
    font-size: 57px;
    font-weight: bold;
    letter-spacing: 3.14px;
    line-height: 71px;
    max-width: 773px;
    z-index: 1;
}

.night h1 {
    color: #EAE5E4;
}

#switcher {
    position: absolute;
    cursor: pointer;
    left: 4rem;
    top: 5rem;
    z-index: 1;
}

#main {
    display: flex;
    justify-content: center;
    font-family: "Suisse Mono";
    flex-direction: column;
    align-items: center;
}

#first {
    height: 974px;
}

#first .content {
    max-width: 255px;
    align-self: center;
}

#first .content img {
    margin-bottom: 102px;
}

#first .circle {
    border-top-left-radius: 792px;
    border-top-right-radius: 792px;
    bottom: 0px;
    right: 85px;
}

#second h1 {
    margin-top: 47px;
}

#second .circle {
    border-bottom-left-radius: 792px;
    border-bottom-right-radius: 792px;
    left: 249px;
    top: 0;
}

#third {
    background-color: #F3EFEF;
    flex-direction: column;
}


#third h1 {
    margin-top: 117px;
    margin-bottom: 68px;
    max-width: 800px;
}

.night #third h1,
.night #third a {
    color: #18332F;
}

.night #third .link a:after {
    border-bottom-color: #18332F;
}

#third .links {
    margin-bottom: 75px;
}

.block {
    margin-bottom: 17px;
}

h4 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 8px;
    font-family: "Buenos Aires";
}

p {
    font-size: 17px;
    line-height: 25px;
}

a {
    text-decoration: none;
}

.link {
    margin-top: 10px;
}

.link a:after {
    content: "";
    display: block;
    width: 0%;
    padding-top: 19px;
    border-bottom: 4px solid;
    transition: .5s;
}

.link a:hover:after {
    width: 96%;
}

.day .link a:after {
    border-bottom-color: #18332F;
}

.night .link a:after {
    border-bottom-color: #EAE5E4;
}

.links {
    margin-top: 36px;
    font-size: 29px;
    font-weight: bold;
    font-family: "Buenos Aires";
}

.day {
    background-color: #EAE5E4;
}

.night {
    background-color: #152725;
}

.day,
.day a {
    color: #18332F;
}

.night,
.night a {
    color: #EAE5E4;
}

#footer {
    background-color: #152725;
    height: 187px;
    font-family: "Buenos Aires";
    justify-content: space-evenly;
}

#footer .follow {
    display: flex;
    align-items: center;
}

#footer .follow p {
    margin-right: 45px;
}

#footer, #footer p {
    font-size: 29px;
    font-weight: bold;
    line-height: 25px;
}

#footer, #footer a {
    color: #EAE5E4;
}

#footer i {
    padding: 0 16px;
}

/* mobile styling */
@media (max-width: 800px) {
    #switcher {
        display: none;
    }

    .circle {
        display: none;
    }

    h1 {
        font-size: 40px;
        padding: 0 2rem;
    }

    #footer {
        flex-direction: column;
    }
}